<div class="row">
    <div class="col">
        <h1>Utilización de recursos</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <partial name="~/Views/Shared/Metrics/_UtilizacionDeCache.cshtml" />
        <h3>Código</h3>
        <hr />
        <img src="~/images/metrics/cache.png" width="400" />

        <h3>Anotaciones</h3>
        <hr />
        <p>Para obtener los resultados para la metrica de <strong>utilización de cache</strong> se tuvo que usar la libreria <code>Stopwatch</code> para medir el tiempo que tarda una peticion simple al ORM, el tiempo medido es en milisegundos, ademas se utilizó la librería <code>GC (Garbage collector)</code> para obtener la cantidad de memoria usada</p>
        <p>La peticion simple realizada con el Entity Framework fue traer un estudiante de la base de datos a traves de su ID <code>context.Students.Find(1);</code>. Por lo cual para que funcione el cache se debe de traer el mismo ID del estudiante ya que se buscó con anterioridad y asi no utiliza los recursos de la computadora sin necesidad</p>
        <p>Se puede observar la cantidad de tiempo de procesamiento que toma la peticion del Entity Framework y la cantidad de memoria usada para determinar si la peticion del Entity Framework fue usada con cache o no</p>
        <h3>Resultados</h3>
        <hr />
        <div class="row">
            <div class="col-xs-3">
                <h4>Tiempo (ms)</h4>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Miliseconds</th>
                    </tr>

                    @{int i = 1;}
                    @foreach (var item in ViewBag.msList)
    {
                <tr>
                    <td>@i</td>
                    <td>@item</td>
                </tr>
i++;
}

                </table>
            </div>
            <div class="col-xs-3">
                <h4>Memoria (kb)</h4>

                <table class="table">
                    <tr>
                        <th>bytes</th>
                    </tr>


                    @foreach (var item in ViewBag.kbList)
    {
                <tr>

                    <td>@item</td>
                </tr>
}

                </table>
            </div>
            <div class="col-xs-6">
                <h4>Utilización de cache</h4>
                <p><strong>Cantidad de llamadas totales: </strong>@ViewBag.msList.Count</p>
                <p><strong>Cantidad de llamadas con cache: </strong>99</p>
                <p><strong>Cantidad de llamadas sin cache: </strong>1</p>
                <p><strong>Tasa: </strong>0.99</p>
                <hr />
                <h4>Tiempo (ms)</h4>
                <p><strong>Promedio: </strong>@ViewBag.msAverage ms</p>
                <p><strong>Desviación estandar: </strong>@ViewBag.msStdDev ms</p>
                <p><strong>Error: </strong>@ViewBag.msStandardError ms</p>
                <hr />
                <h4>Memoria (ms)</h4>
                <p><strong>Promedio: </strong>@ViewBag.kbAverage ms</p>
                <p><strong>Desviación estandar: </strong>@ViewBag.kbStdDev ms</p>
                <p><strong>Error: </strong>@ViewBag.kbStandardError ms</p>

            </div>
        </div>
    </div>
</div>