<div class="row">
    <div class="col">
        <h1>Utilización de recursos</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <partial name="~/Views/Shared/Metrics/_CantidadMediaDeMemoriaUtilizada.cshtml" />
        <h3>Código</h3>
        <hr />
        <img src="~/images/metrics/CantidadMediaDeMemoriaUtilizada.png" width="400" />

        <h3>Anotaciones</h3>
        <hr />
        <p>Para obtener los resultados para la metrica de <strong>cantidad media de memoria utilizada</strong> se tuvo que usar la libreria <code>Stopwatch</code> para medir el tiempo que tarda una peticion simple al ORM, el tiempo medido es en milisegundos, ademas se utilizó la librería <code>GC (Garbage collector)</code> para obtener la cantidad de memoria usada</p>
        <p>La peticion simple realizada con el Entity Framework fue traer un estudiante de la base de datos a traves de su ID <code>context.Students.Find(1);</code>. Por lo cual para que funcione el cache se debe de traer el mismo ID del estudiante ya que se buscó con anterioridad y asi no utiliza los recursos de la computadora sin necesidad</p>
        <p>Se puede observar la cantidad de tiempo de procesamiento que toma la peticion del Entity Framework y la cantidad de memoria usada para determinar si la peticion del Entity Framework fue usada con cache o no</p>
        <h3>Resultados</h3>
        <hr />
        <div class="row">
            <div class="col-xs-3">
                <h4>Tiempo de procesador (ms)</h4>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Miliseconds</th>
                    </tr>

                    @{int i = 1;}
                    @foreach (var item in ViewBag.processorList)
    {
                <tr>
                    <td>@i</td>
                    <td>@item</td>
                </tr>
i++;
}

                </table>
            </div>
            <div class="col-xs-3">
                <h4>Tiempo de operacion (ms)</h4>

                <table class="table">
                    <tr>
                        <th>bytes</th>
                    </tr>


                    @foreach (var item in ViewBag.operationList)
    {
                <tr>

                    <td>@item</td>
                </tr>
}

                </table>
            </div>
            <div class="col-xs-6">
                <h4>Utilización de cache</h4>
                <p><strong>Cantidad de llamadas totales: </strong>@ViewBag.processorList.Count</p>
                <p><strong>X = </strong> @ViewBag.xResult</p>
                <hr />
                <h4>Tiempo de procesador (ms)</h4>
                <p><strong>Promedio: </strong>@ViewBag.processorAverage ms</p>
                <p><strong>Desviación estandar: </strong>@ViewBag.processorStdDev ms</p>
                <p><strong>Error: </strong>@ViewBag.processorStandardError ms</p>
                <hr />
                <h4>Tiempo de operacion (ms)</h4>
                <p><strong>Promedio: </strong>@ViewBag.operationAverage ms</p>
                <p><strong>Desviación estandar: </strong>@ViewBag.operationStdDev ms</p>
                <p><strong>Error: </strong>@ViewBag.operationStandardError ms</p>

            </div>
        </div>
    </div>
</div>